<tr>
  <td><%= challenge.description %></td>
  <td>
    <div class="progress
  <% if challenge.difficulty < 4 %>
     progress-success">
  <% elsif challenge.difficulty < 8 %>
    progress-warning">
  <% else %>
    progress-danger">
  <% end %>
      <div class="bar" style="width: <%= challenge.difficulty * 10 %>%"></div>
    </div>
  </td>
  <td><%= challenge.starttime %></td>
  <td><%= challenge.endtime %></td>
  <td><%= challenge.entries.length %></td>
  <td><%= challenge.owner %></td>
  <td><%= link_to 'Show', challenge, :class => "btn btn-small" %></td>
</tr>
