<tr>
  <td><%= challenge.description %></td>
  <td>
    <div class="progress">
      <div class="bar" style="width: <%= challenge.difficulty * 10 %>%"> <%= challenge.difficulty %> </div>
    </div>
  </td>
  <td><%= challenge.starttime %></td>
  <td><%= challenge.endtime %></td>
  <td><%= challenge.entries.length %></td>
  <td><%= challenge.owner %></td>
  <td><%= link_to 'Show', challenge, :class => "btn btn-small" %></td>
</tr>
