<div class="well well-small clearfix" style="width: 90%">
  <div class="pull-left">
    <% user = User.find(entry.user_id) %>
    <%= image_tag gravatar(user) %><br/>
    <b><%= username_or_email(user.id) %></b><br/>
    <% if entry.submitted %>
      <b><p class="text-info">Submitted</p></b>
    <% end %>
  </div>
  <div class="pull-right" style="text-align: right">
    <b>Compilations: </b><%= entry.compilations %><br/>
    <b>Evaluations: </b><%= entry.evaluations %><br/>
    <b>Code length: </b><%= entry.length %><br/>
    <b>Lines: </b><%= entry.lines %><br/>
    <b>Failed Compilations: </b><%= entry.failed_compilations %><br/>
    <b>Failed Evaluations: </b><%= entry.failed_evaluations %><br/>
    <% if entry.submitted %>
      <b>Test score:</b> <%= entry.test_score %>
    <% end %>
  </div>
</div>
