<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, :autofocus => true, :placeholder => "Email" %></div>

  <div><%= f.password_field :password, :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
        <%= f.label :remember_me, :class => "checkbox" do %>Remember Me<%= f.check_box :remember_me %>
        <% end %>
    </div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
