<%= nested_form_for @challenge do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h3>

      <ul>
      <% @challenge.errors.messages.values.each do |msg| %>
        <li><%= msg[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :description, :placeholder => "Description", :style => "width:300px;", :rows => "1" %>
  </div>
  <div class="field">
    <%= f.number_field :difficulty, :placeholder => "Difficulty (0-10)" %>
  </div>
  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.text_area :spec, :placeholder => "Markdown Specification", :style => "width:100%;", :rows => "20" %><br/>
        <a class="btn" id="preview_button">Preview</a>
      </div>
    </div>
    <div class="span6">
      <blockquote id="preview-box" style="max-height:400px; overflow:auto">
      </blockquote>
    </div>
  </div>
  <br/>
  <h4>Tests:</h4>
  <div class="field well well-small tests-field">
    <%= f.fields_for :challenge_tests %>
    <%= f.link_to_add(:challenge_tests, :class => "btn") do %>
      <i class="icon-plus"></i>
    <% end %>
  </div>

  <div class="field">
    <div id="start_date_creator" class="control-group">
      <p class="creator">
        Start time:<br/>
        <input class="input" placeholder='tomorrow at 1pm' type="text" size="30">
        <%= f.hidden_field :starttime, :class =>"date_output" %>
        <span class="output"></span>
      </p>
    </div>
  </div>
  <div class="field">
    <div id="end_date_creator" class="control-group">
      <p class="creator">
        End time:<br/>
        <input class="input" placeholder='tomorrow at 2pm' type="text" size="30">
        <%= f.hidden_field :endtime, :class =>"date_output" %>
        <span class="output"></span>
      </p>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :owner, :value => sanitize(current_user.email) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Challenge", :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  var $spec = $("#challenge_spec"),
      $preview = $("#preview-box"),
      convert = new Markdown.getSanitizingConverter().makeHtml;

  $("#preview_button").click(function() {
    $preview.html(convert($spec.val()));
  });
});

$(document).ready(function() {
  if($('#challenge_starttime').val().length == 0) {
    setDateBox('#start_date_creator', "tomorrow at 1pm");
    setDateBox('#end_date_creator', "tomorrow at 2pm");
  } else {
    var start_formatted = makeDate('#challenge_starttime');
    var end_formatted = makeDate('#challenge_endtime');
    setDateBox('#start_date_creator', start_formatted);
    setDateBox('#end_date_creator', end_formatted);
    $("#start_date_creator .input").val(start_formatted);
    $("#end_date_creator .input").val(end_formatted);
  };
});

function makeDate(id) {
  var date = Date.utc.create($(id).val());
  var date_format = '{Weekday} {Month} {ord} {HH}:{mm}:{ss}';
  return date.format(date_format);
}

function setDateBox(id, default_time) {
  var el = $(id);
  var input = $('input', el);
  var output = $('.output', el);
  var date_output = $('.date_output', el);
  var date_format = '{Weekday} {Month} {ord}, {year} {HH}:{mm}:{ss}';
  input.keyup(function() {
    var val = input.val().trim();
    if(/^\d+$/.test(val)) {
      val = val.toNumber();
    }
    var text, date = Date.create(String(val));
    if(input.val() == '') {
      date = Date.create(default_time);
    }
    if(!date.isValid()) {
      text = 'Invalid date.'
      el.addClass("error");
    } else {
      text = date.format(date_format);
      el.removeClass("error");
    }
    output.text(text);
    date_output.val(date.format(date_format));
  });
  $('.clickable').click(function() {
    input.val($(this).html());
    input.keyup();
  });
  input.keyup();
  input.click(function() {
    input.select();
  });
}

</script>
