<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :description, :placeholder => "Description", :style => "width:300px;", :rows => "1" %>
  </div>
  <div class="field">
    <%= f.number_field :difficulty, :placeholder => "Difficulty (0-?)" %>
  </div>
  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.text_area :spec, :placeholder => "Markdown Specification", :style => "width:100%;", :rows => "20" %><br/>
        <a class="btn" id="preview_button">Preview</a>
      </div>
    </div>
    <div class="span6">
      <blockquote id="preview-box" style="max-height:400px; overflow:auto">
      </blockquote>
    </div>
  </div>
  <br/>
  <div class="field" style="clear:both">
    <%= f.label :starttime, %>
    <%= f.datetime_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.hidden_field :owner, :value => sanitize(current_user.email) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Challenge", :class => "btn" %>
  </div>
<% end %>

<!-- <script src="../assets/Markdown.Converter.js"></script>
<script src="../assets/Markdown.Sanitizer.js"></script> -->

<script type="text/javascript">
$(document).ready(function() {
  var $spec = $("#challenge_spec"),
      $preview = $("#preview-box"),
      convert = new Markdown.getSanitizingConverter().makeHtml;

  $("#preview_button").click(function() {
    $preview.html(convert($spec.val()));
  });
});
</script>
