<% started = has_started(@challenge)
   ended = has_ended(@challenge) %>

<% if started %>
  <p>Administration Panel</p>
<% end %>
<div class="row-fluid">
<div class="span4">

  <dl class="dl-horizontal">
    <dt>Description:</dt>
    <dd><%= @challenge.description %></dd>
    <dt>Difficulty:</dt>
    <dd><%= @challenge.difficulty %></dd>
    <dt>Start time:</dt>
    <dd><%= @challenge.starttime %>
        <% if started && !ended %><br/>This challenge has started!<% end %></dd>
    <dt>End time:</dt>
    <dd><%= @challenge.endtime %>
        <% if ended %><br/>This challenge has ended.<% end %></dd>
    <dt>Owner:</dt>
    <dd><%= @challenge.owner %></dd>
  </dl>

<% if user_signed_in? %>
  <% if current_user.email == @challenge.owner && !started %>
    <%= link_to 'Edit', edit_challenge_path(@challenge), :class => "btn" %>
  <% elsif !started %>
    <%= link_to 'Enter Challenge', enter_challenge_path, :class => "btn" %>
  <% else %>
    <div id="start-countdown"></div>
    <div id="chart"></div>
    <div class="center">
      <div class="btn-group center">
        <a class="btn btn-mini" id="backward-button">
          <i class="icon-chevron-left"></i>
        </a>
        <a class="btn btn-mini" id="forward-button">
          <i class="icon-chevron-right"></i>
        </a>
      </div>
    </div>
  <% end %>
<% elsif !started %>
  <p>Sign in to enter this challenge!</p>
<% else %>
  <div id="start-countdown"></div>
  <div id="chart"></div>
  <div class="center">
    <div class="btn-group center">
      <a class="btn btn-mini" id="backward-button">
        <i class="icon-chevron-left"></i>
      </a>
      <a class="btn btn-mini" id="forward-button">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
  </div>
<% end %>

</div>

<% if started %>
  <div class="span4 well well-small log" style="font-family: 'Inconsolata', monospace">
    <%= simple_format(@challenge.log) %>
  </div>
  <div class="span4 log">
    <h4>Entrants:</h4>
    <% if not @challenge.users.blank? %>
      <% for user in @challenge.users %>
        <div class="well well-small clearfix" style="width: 90%">
          <div class="pull-left">
            <%= image_tag gravatar(user) %><br/>
            <b><%= sanitize user.email %></b><br/>
          </div>
          <div class="pull-right" style="text-align: right">
            <% entry = Entry.find(:first, :conditions => {user_id: user.id, challenge_id: @challenge.id}) %>
            <b>Compilations: </b><%= entry.compilations %><br/>
            <b>Evaluations: </b><%= entry.evaluations %><br/>
            <b>Code length: </b><%= entry.length %><br/>
            <b>Lines: </b><%= entry.lines %><br/>
            <b>Realtime test score: </b>TODO<br/>
            <b>Failed Compilations: </b><%= entry.failed_compilations %><br/>
            <b>Failed Evaluations: </b><%= entry.failed_evaluations %><br/>
          </div>
        </div>
      <% end %>
    <% else %>
      There are no entrants. Sorry!
    <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  var endtime = new Date(<%= DateTime.strptime(@challenge.endtime.to_s,"%m-%d-%Y %H:%M").to_i %> * 1000);
  $("#start-countdown").countdown({until: endtime});

  var dataSets = [<%= @comp %>, <%= @f_comp %>, <%= @eval %>, <%= @f_eval %>, <%= @length %>, <%= @lines %>],
      titles = ['Compilations', 'Failed Compilations', 'Evaluations', 'Failed Evaluations', 'Code Length', 'Lines'],
      currentSet = 0,
      chart;

  $(function () {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart',
        type: 'column'
      },
      title: { text: '' },
      xAxis: {
        categories: [
          <% for user in @challenge.users %>
            <% if user != @challenge.users.last %>
              '<%= sanitize user.email %>',
            <% else %>
              '<%= sanitize user.email %>'
            <% end %>
          <% end %>
        ]
      },
      yAxis: {
        title: { text: titles[0] },
        type: 'integer'
      },
      series: [{
        showInLegend: false,
        name: titles[0],
        data: dataSets[0]
      }],
      credits: {
        enabled: false
      },
    });
  });

  $('#forward-button').click(function() {
    if (currentSet == dataSets.length - 1) {
      currentSet = 0;
      chart.yAxis[0].axisTitle.attr({text: titles[0]});
      chart.series[0].remove();
      chart.addSeries({
        color: "#2f7ed8",
        showInLegend: false,
        name: titles[0],
        data: dataSets[0]
      });
    } else {
      chart.yAxis[0].axisTitle.attr({text: titles[++currentSet]});
      chart.series[0].remove();
      chart.addSeries({
        color: "#2f7ed8",
        showInLegend: false,
        name: titles[currentSet],
        data: dataSets[currentSet]
      });
    }
  });

  $('#backward-button').click(function() {
    if (currentSet == 0) {
      currentSet = dataSets.length - 1;
      chart.yAxis[0].axisTitle.attr({text: titles[dataSets.length - 1]});
      chart.series[0].remove();
      chart.addSeries({
        color: "#2f7ed8",
        showInLegend: false,
        name: titles[dataSets.length - 1],
        data: dataSets[dataSets.length - 1]
      });
    } else {
      chart.yAxis[0].axisTitle.attr({text: titles[--currentSet]});
      chart.series[0].remove();
      chart.addSeries({
        color: "#2f7ed8",
        showInLegend: false,
        name: titles[currentSet],
        data: dataSets[currentSet]
      });
    }
  });
</script>
