<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @challenge.difficulty %>
</p>

<p>
  <b>Start time:</b>
  <%= @challenge.starttime %>
</p>

<p>
  <b>End time:</b>
  <%= @challenge.endtime %>
</p>

<p>
  <b>Owner:</b>
  <%= @challenge.owner %>
</p>

<% if current_user.email == @challenge.owner %>
  <%= link_to 'Edit', edit_challenge_path(@challenge), :class => "btn" %>
<% else %>
  <%= link_to 'Enter Challenge', enter_challenge_path, :class => "btn" %>
<% end %>
