<% started = has_started(@challenge)
   ended = has_ended(@challenge) %>

<% if started %>
  <p>Administration Panel</p>
<% end %>
<div class="row-fluid">
<div class="span4">

  <dl class="dl-horizontal">
    <dt>Description:</dt>
    <dd><%= @challenge.description %></dd>
    <dt>Difficulty:</dt>
    <dd><%= @challenge.difficulty %></dd>
    <dt>Start time:</dt>
    <dd><%= @challenge.starttime %>
        <% if started && !ended %><br/>This challenge has started!<% end %></dd>
    <dt>End time:</dt>
    <dd><%= @challenge.endtime %>
        <% if ended %><br/>This challenge has ended.<% end %></dd>
    <dt>Owner:</dt>
    <dd><%= @challenge.owner %></dd>
  </dl>

<% if user_signed_in? %>
  <% if current_user.email == @challenge.owner && !started %>
    <%= link_to 'Edit', edit_challenge_path(@challenge), :class => "btn" %>
  <% elsif !started %>
    <%= link_to 'Enter Challenge', enter_challenge_path, :class => "btn" %>
  <% else %>
    <div id="start-countdown"></div>
    <div id="chart"></div>
  <% end %>
<% elsif !started %>
  <p>Sign in to enter this challenge!</p>
<% else %>
  <div id="start-countdown"></div>
  <div id="chart"></div>
<% end %>

</div>

<% if started %>
  <div class="span4 well well-small log" style="font-family: 'Inconsolata', monospace">
    <%= simple_format(@challenge.log) %>
  </div>
  <div class="span4 log">
    <h4>Entrants:</h4>
    <% if not @challenge.users.blank? %>
      <% for user in @challenge.users %>
        <div class="well well-small" style="width: 90%">
          <%= image_tag gravatar(user) %><br/>
          <b><%= sanitize user.email %></b><br/>
          <% entry = Entry.find(:first, :conditions => {user_id: user.id, challenge_id: @challenge.id}) %>
          <b>Compilations: </b><%= entry.compilations %><br/>
          <b>Evaluations: </b><%= entry.evaluations %><br/>
          <b>Code length: </b><%= entry.length %><br/>
          <b>Lines: </b><%= entry.lines %><br/>
          <b>Realtime test score: </b>TODO<br/>
          <b>Failed Compilation %: </b>
          <% if entry.compilations > 0 %>
            <%= entry.failed_compilations / entry.compilations / 1 * 100 %>
          <% else %>
            0
          <% end %>
          <br/>
          <b>Failed Evaluation %: </b>
          <% if entry.evaluations > 0 %>
            <%= entry.failed_evaluations / entry.evaluations / 1 * 100%>
          <% else %>
            0
          <% end %>
        </div>
      <% end %>
    <% else %>
      There are no entrants. Sorry!
    <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  var endtime = new Date(<%= DateTime.strptime(@challenge.endtime.to_s,"%m-%d-%Y %H:%M").to_i %> * 1000);
  $("#start-countdown").countdown({until: endtime});

  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'chart' },
      title: { text: 'Compilations' },
      yAxis: { type: 'integer' },
      xAxis: {
        title: { text: 'Entrant'}
      },
      series: [{
        data: [1, 2, 5, 7, 3]
      }],
      credits: {
        enabled: false
      },
    });
  });
</script>
