<tr>
  <td><%= challenge.description %></td>
  <td><%= challenge.difficulty %></td>
  <td><%= challenge.starttime %></td>
  <td><%= challenge.endtime %></td>
  <td><%= challenge.entries.length %></td>
  <td><%= challenge.owner %></td>
  <td><%= link_to 'Show', challenge, :class => "btn btn-small" %></td>
</tr>
