<% content_for :title, "Global Leaderboard" %>

<h2>Global Leaderboard</h2>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Compilations</th>
    <th>Failed</th>
    <th>Evaluations</th>
    <th>Failed</th>
    <th>Code Length</th>
    <th>Lines</th>
    <th>Test Suite Score</th>
  </tr>

<% if !@overalls.blank? %>
  <% @overalls.order("total_score desc").each do |entry| %>
    <tr>
      <td><%= link_to username_or_email(entry.user_id), user_path(entry.user_id), {:remote => true, 'data-backdrop' => "true", 'data-keyboard' => "true", 'data-remote' => "true", 'data-target' => "#user-modal", 'data-toggle' => "modal"} %></td>
      <td><%= entry.total_comp %></td>
      <td><%= entry.failed_comp %></td>
      <td><%= entry.total_eval %></td>
      <td><%= entry.failed_eval %></td>
      <td><%= entry.av_length %></td>
      <td><%= entry.av_lines %></td>
      <td><%= entry.total_score %> / <%= @possible_scores.values.map { |a,b| a == entry.user_id ? [b] : [] }.flatten.first %></td>
    </tr>
  <% end %>
<% end %>

</table>

<div class="modal hide fade" id="user-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    <h3>Fetching results...</h3>
  </div>
  <div class="modal-footer">&nbsp;</div>
</div>

View leaderboard for ended challenge:<br/>
<%= select_tag "challenge_id", options_from_collection_for_select(@ended, 'id', 'id'), :include_blank => "" %>

<script type="text/javascript">
  $(function(){
    $('#challenge_id').change(function() {
       var url = "/leaderboards/" + $(this).val()
        if (url) {
          window.location.assign(url);
        }
        return false;
    });
  });
</script>
