<h1>Available Challenges</h1>

<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Difficulty</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Owner</th>
    <th></th>
    <% if current_user.try(:admin?) %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

<% @challenges.each do |challenge| %>
  <tr>
    <td><%= challenge.description %></td>
    <td><%= challenge.difficulty %></td>
    <td><%= challenge.starttime %></td>
    <td><%= challenge.endtime %></td>
    <td><%= challenge.owner %></td>
    <td><%= link_to 'Show', challenge, :class => "btn btn-small" %></td>
    <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_challenge_path(challenge), :class => "btn btn-small" %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, :class => "btn btn-danger btn-small" , data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

