<% ended = has_ended(@challenge) %>
<% content_for :title, "Leaderboard for Challenge #" + @challenge.id.to_s %>
<% if ended %>
  <h3>Leaderboard for Challenge #<%= @challenge.id %></h3>
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Compilations</th>
      <th>Failed Compilations</th>
      <th>Evaluations</th>
      <th>Failed Evaluations</th>
      <th>Code Length</th>
      <th>Lines</th>
      <th>Test Suite Score</th>
    </tr>

    <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to username_or_email(entry.user_id), user_path(entry.user_id), {:remote => true, 'data-backdrop' => "true", 'data-keyboard' => "true", 'data-remote' => "true", 'data-target' => "#user-modal", 'data-toggle' => "modal"} %></td>
      <td><%= entry.compilations %></td>
      <td><%= entry.failed_compilations %></td>
      <td><%= entry.evaluations %></td>
      <td><%= entry.failed_evaluations %></td>
      <td><%= entry.length %></td>
      <td><%= entry.lines %></td>
      <td>
          <%= entry.test_score %> / <%= @challenge.total_tests %> <%= link_to "Show Results", show_outcomes_path(@challenge.id, entry.user_id), {:remote => true, 'data-toggle' => 'modal', 'data-target' => "#modal", 'data-backdrop' => true, 'data-keyboard' => true} %>
      </td>
    </tr>
    <% end %>

  <div class="modal hide fade" id="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Fetching results...</h3>
    </div>
    <div class="modal-footer">&nbsp;</div>
  </div>

  <div class="modal hide fade" id="user-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Fetching results...</h3>
    </div>
    <div class="modal-footer">&nbsp;</div>
  </div>

  </table>
<% else %>
  <p>The leaderboard for this challenge will appear here once the challenge has ended.</p>
<% end %>
