<% ended = has_ended(@challenge) %>
<% if ended %>
  <h3>Leaderboard for Challenge #<%= @challenge.id %></h3>

  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Compilations</th>
      <th>Failed Compilations</th>
      <th>Evaluations</th>
      <th>Failed Evaluations</th>
      <th>Code Length</th>
      <th>Lines</th>
      <th>Test Suite Score</th>
    </tr>

    <% @entries.each do |entry| %>
    <tr>
      <td><%= sanitize User.find(:first, :conditions => {id: entry.user_id}).email %></td>
      <td><%= entry.compilations %></td>
      <td><%= entry.failed_compilations %></td>
      <td><%= entry.evaluations %></td>
      <td><%= entry.failed_evaluations %></td>
      <td><%= entry.length %></td>
      <td><%= entry.lines %></td>
      <td><%= entry.test_score %> + "/" + <% @challenge.total_tests %></td>
    </tr>
    <% end %>

  </table>
<% else %>
  <p>The leaderboard for this challenge will appear here once the challenge has ended.</p>
<% end %>
