<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @challenge.difficulty %>
</p>

<!--

THIS IS FOR MARKDOWN SHIZ, WE DON'T NEED IT HERE THOUGH

<p>
  <b>Spec:</b>
  <blockquote style="max-height:500px; overflow:auto">
    <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
       htm = markdown.render(@challenge.spec) %>
    <%= htm.html_safe %>
  </blockquote>
</p>
 -->

<p>
  <b>Starttime:</b>
  <%= @challenge.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @challenge.endtime %>
</p>

<p>
  <b>Owner:</b>
  <%= @challenge.owner %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
