<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @challenge.difficulty %>
</p>

<!--

THIS IS FOR MARKDOWN SHIZ, WE DON'T NEED IT HERE THOUGH

<p>
  <b>Spec:</b>
  <blockquote style="max-height:500px; overflow:auto">
    <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
       htm = markdown.render(@challenge.spec) %>
    <%= htm.html_safe %>
  </blockquote>
</p>
 -->

<p>
  <b>Start time:</b>
  <%= @challenge.starttime %>
</p>

<p>
  <b>End time:</b>
  <%= @challenge.endtime %>
</p>

<p>
  <b>Owner:</b>
  <%= @challenge.owner %>
</p>

<% if current_user.email == @challenge.owner %>
  <%= link_to 'Edit', edit_challenge_path(@challenge), :class => "btn" %>
<% else %>
  <%= link_to 'Enter Challenge', enter_challenge_path, :class => "btn" %>
<% end %>
