<!DOCTYPE html>
<html>
  <head>
    <title>Ruralcloud</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Rural Cloud</a>
            <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to "Challenges", challenges_path %></li>
                <% if current_user.try(:admin?) %>
                  <li><%= link_to 'Create Challenge', new_challenge_path %></li>
                <% end %>
              <% end %>
            </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li class="avatar"><%= image_tag gravatar_small(current_user) %></li>
                  <li><a href="#">Logged in as <%= sanitize current_user.email %></a></li>
                  <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path %></li>
                <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Register", new_user_registration_path %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <%= yield %>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Copyright 2013 Banter Brigade productions. <a href="https://twitter.com/search?q=%23urbancloud">#ruralcloud</a></p>
      </div>
    </div>
  </body>
</html>
