<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "RuralCloud" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/2.0/pusher.min.js" %>
    <%= javascript_include_tag Sync.adapter_javascript_url %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      <% if Rails.env.development? %>
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };
      <% end %>

      <% if user_signed_in? %>
        <% if Rails.env.development? %>
          var pusher = new Pusher('<%= Pusher.key %>');
        <% else %>
          var pusher = new Pusher('<%= Pusher.key %>', { encrypted: true });
        <% end %>
        var user_channel = pusher.subscribe('private-<%= current_user.id %>');

        user_channel.bind('new_entrant', function(data) {
          msg = data.entrant + ' has entered <a href="/challenges/' + data.id + '">a challenge you are in</a>.';
          dom_notify(msg);
        });

        user_channel.bind('entrant_submitted', function(data) {
          msg = data.entrant + ' has submitted their final code for <a href="/challenges/' + data.id + '">a challenge you are in</a>.';
          dom_notify(msg);
        });

        user_channel.bind('entrant_kicked', function(data) {
          msg = data.entrant + ' has been kicked from <a href="/challenges/' + data.id + '">a challenge you are in</a>.';
        });

        <% if current_user.try(:admin?) %>
          user_channel.bind('admin_entrant', function(data) {
            msg = data.entrant + ' has entered <a href="/challenges/' + data.id + '">your challenge</a>!';
            dom_notify(msg);
          });

          user_channel.bind('admin_submitted', function(data) {
            msg = data.entrant + ' has submitted their final code for <a href="/challenges/' + data.id + '">a challenge you are in</a>.';
            dom_notify(msg);
          });

          user_channel.bind('challenge_error', function(data) {
            msg = '<p>An error has been reported in <a href="/challenges/' + data.id + '">challenge #' + data.id + '</a></p>' +
                  '<p>Message from ' + data.sender + ':</p>' +
                  '<p>' + data.message + '</p>';
            center_notify(msg);
          });

          function center_notify(msg) {
            $('#center-notify').notify({
              message: { html: msg },
              closeable: true,
              fadeOut: { enabled: false }
            }).show();
          }
        <% end %>

        function dom_notify(msg) {
          $('.bottom-left').notify({
            message: { html: msg },
            fadeOut: { enabled: true, delay: 3000 }
          }).show();
        }

        $(document).ready(function () {
          $("#setting-tooltip").tooltip({
            'selector': '',
            'placement': 'bottom'
          });
        });
      <% end %>
    </script>
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Rural Cloud</a>
            <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to "Challenges", challenges_path %></li>
                <% if current_user.try(:admin?) %>
                  <li><%= link_to 'Create Challenge', new_challenge_path %></li>
                <% end %>
                <li><%= link_to "Leaderboards", global_leaderboard_path %></li>
              <% end %>
            </ul>
            <% if get_next_start_time != "" %>
              <ul class="nav">
                <li class="next-challenge"><div class="non-link" style="text-align:center">Next challenge starts in <%= get_next_start_time %></div></li>
              </ul>
            <% end %>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="avatar"><%= image_tag gravatar_small(current_user) %></li>
                <li>
                  <%= link_to edit_user_registration_path, :rel => "tooltip", :title => "Account Settings", :id => "setting-tooltip" do %>
                    <%= username_or_email(current_user.id) %>
                  <% end %>
                </li>
                <li><%= link_to "Logout", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Register", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <%= yield %>
      </div>

      <div class="notifications bottom-left"></div>
      <div class="notifications center" id="center-notify"></div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Copyright 2013 Banter Brigade productions. <a href="https://twitter.com/search?q=%23urbancloud">#ruralcloud</a></p>
      </div>
    </div>
  </body>
</html>
